<div class="row">
    <div data-subview="timepicker" class="input-field col s4"></div>
    <div class="input-field col s4">
        <i class="material-icons prefix">flight_takeoff</i>
        <input
                data-bind="height"

                id="<%= this.cid %>"
                class="active"
                type="number"
                placeholder="<%= height %>"
                value="<%= height %>"
                min="0"
                max="4948"
        >
        <label for="<%= this.cid %>">Height</label>
    </div>
    <div class="col s4">
        <div
                data-action="test"
                data-tooltip="Test height."
                class="btn-floating btn-large waves-effect waves-light indigo center-align"
                style="display: inherit;margin: 0 auto;"
        >
            <i class="material-icons left">swap_vert</i>
        </div>
    </div>

</div>
<div class="row">

    <p class="range-field col s12 ">
        <input
                data-bind="height"

                class="active"
                type="range"
                min="0"
                max="4948"
                value="<%= height %>"
        />
    </p>
</div>