<div class="row">
	<div class="col s10 offset-s1 center-align">
		<div class="clearfix" style="position:relative;height:185px;margin:0 auto">
			<div style="position:absolute;left:0;top:0;width:200%;margin-left:-50%">
				<input
					data-output
					data-bind="height"
					type="number"
					readonly
					data-min="<%= min %>"
					data-max="<%= max %>"
					data-width="220"
					data-height="220"
					data-thickness=".2"
					data-displayinput="false"
					data-fgcolor="#1a237e"
				>
			</div>
			<div style="position:absolute;top:30px;width:200%;margin-left:-50%">
				<input
					data-input
					type="number"
					value="<%= height %>"
					data-min="<%= min %>"
					data-max="<%= max %>"
					step="1000"
					data-displayinput="false"
					data-width="160"
					data-height="160"
					data-thickness=".1"
					data-fgcolor="#00C853"
					data-cursor=true
				>
			</div>
			<div style="position:inherit;top:90px;pointer-events: none">
				<div style="font-weight: 300">Current:
					<span data-bind="height" class="indigo-text text-darken-4"></span>
				</div>
				<div style="font-weight: 100">Target:
					<span data-bind="targetHeight" class="green-text text-accent-4"></span>
				</div>
			</div>
		</div>
		<div style="clear:both"></div>
	</div>
</div>